<div class="page-container">

    <button type="button" class="close-btn" (click)="cancel()">
        ✕
    </button>

    <h2>{{title()}}</h2>
  
    <div *ngIf="loading()" class="loading">Carregando...</div>
  
    <form *ngIf="!loading()" class="form" [formGroup]="form" (ngSubmit)="submit()">
  
      <!-- LOGIN -->
      <label for="login">Login</label>
      <input id="login" formControlName="login" [disabled]="!isCreateMode()" />
  
      <!-- NAME -->
      <label for="name">Nome</label>
      <input id="name" formControlName="name"/>
  
      <!-- CPF -->
      <label for="cpf">CPF</label>
      <input id="cpf" formControlName="cpf" [disabled]="!isCreateMode()"/>
  
      <!-- EMAIL -->
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" [disabled]="!isCreateMode()"/>
  
      <!-- TYPE -->
      <ng-container *ngIf="isEmployee()">
        <label for="type">Tipo</label>
        <select id="type" formControlName="type">
          <option value="customer">Cliente</option>
          <option value="employee">Funcionário</option>
        </select>
      </ng-container>
  
      <!-- ADDRESS -->
      <label for="address">Endereço</label>
      <input id="address" formControlName="address"/>
  
      <!-- PASSWORD -->
      <label for="password">Senha</label>
      <input id="password" type="password" formControlName="password"/>
  
      <!-- FILE UPLOAD -->
      <div class="file-section">
        <label>Documento</label>
  
        <input type="file" (change)="handleFile($event)" />
  
        <div *ngIf="fileName()">
          <p>Arquivo atual: {{ fileName() }}</p>
        
          <button type="button" (click)="downloadFile()" class="download-btn">
            Baixar arquivo
          </button>
          <button type="button" class="remove-file" (click)="clearFile()">
            Remover
          </button>
        </div>
      </div>
      
  
      <!-- COMPANY ASSIGN -->
      <div class="company-section">
        <label>Empresas vinculadas</label>
  
        <div *ngFor="let company of selectedCompanies(); let i = index" class="company-pill">
          {{ company.name }}
          <button type="button" class="remove" (click)="removeCompany(i)">x</button>
        </div>
  
        <button type="button" class="add-company" (click)="openCompanyModal()">+ Vincular empresa</button>
      </div>

      <p *ngIf="error()" class="error">{{ error() }}</p>
  
      <!-- SUBMIT -->
      <button type="submit" class="submit" [disabled]="saving() || form.invalid">
        {{ saving() ? 'Salvando...' : (isCreateMode() ? 'Criar' : 'Salvar') }}
      </button>
  
      <!-- DELETE -->
      <button *ngIf="!isCreateMode() && (isEmployee() || isSelf())"
              type="button"
              class="delete"
              (click)="remove()">
        Excluir
      </button>
  
    </form>
  
  </div>
  