<header class="topbar">
    <nav class="menu">
        <button 
            class="menu-btn"
            [class.active]="isActive('/companies')"
            (click)="go('/companies')">
            Empresas
        </button>

        <button 
            class="menu-btn"
            [class.active]="isActive('/customers')"
            (click)="go('/customers')">
            Clientes
        </button>

        <button 
            class="menu-btn"
            [class.active]="isActive('/employees')"
            (click)="go('/employees')">
        Funcionários
        </button>
    </nav>

    <!-- Floating Action Button -->
    <button class="fab" (click)="newItem()">
        +
    </button>
</header>